name: Release

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  build-release:
    name: Build ${{ matrix.config.os }}
    runs-on: ${{ matrix.config.os }}
    strategy:
      fail-fast: false
      matrix:
        config:
          - {os: macos-latest, type: 'macOS'}
          - {os: windows-latest, type: 'Windows'}

    steps:
      - uses: actions/checkout@v4

      - name: Set up R
        uses: r-lib/actions/setup-r@v2
        with:
          r-version: 'release'

      - name: Install dependencies
        uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: any::rcmdcheck, any::devtools
          needs: check

      - name: Build Binary Package
        run: |
          pkg_path <- devtools::build(binary = TRUE)
          writeLines(pkg_path, "pkg_path.txt")
        shell: Rscript {0}

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.config.type }}-binary
          path: |
            *.tgz
            *.zip

  release:
    needs: build-release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Download macOS Artifacts
        uses: actions/download-artifact@v4
        with:
          name: macOS-binary
          
      - name: Download Windows Artifacts
        uses: actions/download-artifact@v4
        with:
          name: Windows-binary

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            *.tgz
            *.zip
          draft: false
          prerelease: false

